@import url("assets/fonts/font.css");

/* global */

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* grid */

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 40px;
}

/* elem */

.title {
	margin: 0;
  font-family: "Lato-Black";
  font-size: 30px;
  line-height: 1.2;
  color: #666d89;
}

.paragraph {
	margin: 0;
  font-family: "Lato-Light";
  font-size: 18px;
  line-height: 1.6;
  color: #767e9e;
}

/* --- blocks --- */

/* portfolio */

.portfolio {
	padding-top: 65px;
	padding-bottom: 55px;
	background-color: #2d303a;
	border-bottom: 5px solid #323746;
}

.portfolio__title {
	margin-bottom: 19px;
}

.portfolio__desc {
	margin-bottom: 5px;
}

/* filter */

.filter {
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.filter__btn {
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 8px;
	font-family: 'Lato';
	font-size: 12px;
	line-height: 21px;
	color: #767e9e;
	border-radius: 5px;
	border: 1px solid #767e9e;
	background-color: transparent;
	cursor: pointer;
	transition: color .5s ease-in,
							border .5s ease-in;
}

.filter__btn--active {
	color: #dedede;
	border: 1px solid #dedede;
}

.filter__btn:hover,
.filter__btn:active {
	color: #dedede;
	border: 1px solid #dedede;
}

/* work-list */

.work-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-height: 606px;
	overflow: hidden;
}

.work-list__item {
	width: 220px;
	margin-bottom: 15px;
	background-color: #464b5e;
	overflow: hidden;
	cursor: pointer;
}

.work-list__item:hover img,
.work-list__item:active img {
	transform: scale(1.1);
}

.work-list__item img {
	display: block;
	transition: .5s ease-out;
}

/* about */

.about {
	padding-top: 65px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
	border-bottom: 5px solid #ffffff;
}

.about__title {
	margin-bottom: 19px;
}

.about__desc {
	margin-bottom: 40px;
}

/* command */

.command {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

/* person */

.person {
	width: 300px;
}

.person__title {
	margin: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Lato-Black';
	font-size: 18px;
	line-height: 1.2;
	color: #666d89;
}

.person__desc {
	margin: 0;
	margin-bottom: 25px;
	font-family: 'Lato';
	font-size: 12px;
	line-height: 1.8;
	color: #767e9e;
}

/* social */

.social {
	display: flex;
}

.social__item {
	margin-right: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid #666d89;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform .3s ease-in-out;
}

.social__item:hover,
.social__item:active {
	transform: scale(0.9);
}

.social__item--fb {
	background-image: url(/assets/img/social-icons/facebook.png);
}

.social__item--g {
	background-image: url(/assets/img/social-icons/google.png);
}

.social__item--twitter {
	background-image: url(/assets/img/social-icons/twitter.png);
}

.social__item-in {
	background-image: url(/assets/img/social-icons/linkedin.png);
}