@import url("assets/fonts/font.css");

/* global */

body {
	margin: 0;
	padding: 0;
	font-family: Lato, Helvetica, sans-serif;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* grid */

.container {
	max-width: 1020px;
	margin: 0 auto;
}

.wrapper {
	padding: 0 40px;
}

/* elem */

.title {
	margin: 0;
	font-family: "Lato-Black";
	font-size: 30px;
	line-height: 1.2;
	color: #666d89;
}

.title--white {
    color: #f0d8d9;
}

.paragraph {
	margin: 0;
	font-family: "Lato-Light";
	font-size: 18px;
	line-height: 1.6;
	color: #767e9e;
}

.paragraph--white {
    color: #f0d8d9;
}

/* --- blocks --- */

/* contacts */

.contacts {
    background-color: #f06c64;
    padding-top: 59px;
    padding-bottom: 66px;
    border-bottom: 6px solid #ea676b;
}

.contacts__title {
    margin-bottom: 18px;
}

.contacts__desc {
    margin-bottom: 44px;
    line-height: 1.7;
}

.contacts__wrapper {
    display: flex;
}

/* form */

.form {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.form__input {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

.form__input::placeholder {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

.form__textarea {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

.form__textarea::placeholder {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

/* info */

.info {
    padding-left: 20px;
    width: 32%;
}

.info__title {
    margin: 0;
    margin-bottom: 7px;
    font-family: 'Lato-Black';
    font-size: 18px;
    line-height: 1.2;
    color: #f0d8d9;
}

.info__desc {
    margin: 0;
    margin-bottom: 28px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.8;
    color: #f0d8d9;
}   

/* contact-list */

.contact-list__item {
    padding-left: 24px;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: left center;
}

.contact-list__item,
.contact-list__item a {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f0d8d9;
    text-decoration: none;
}

.contact-list__item a:hover,
.contact-list__item a:active {
    text-decoration: underline;
}

.contact-list__item--city {
    background-image: url(/assets/img/contact-icons/location.png);
    background-position: 4px center;
}

.contact-list__item--phone {
    background-image: url(/assets/img/contact-icons/phone.png);
    background-position: 2px center;
}

.contact-list__item--mail {
    background-image: url(/assets/img/contact-icons/mail.png);
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    padding-top: 23px;
    padding-bottom: 22px;
}

.footer__copyright {
    font-size: 12px;
    color: #666d89;
}

/* social */

.social {
	display: flex;
}

.social__item {
	margin-right: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid #666d89;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform .3s ease-in-out;
}

.social__item:nth-last-of-type(1) {
    margin-right: 0;
}

.social__item:hover,
.social__item:active {
	transform: scale(0.9);
}

.social__item--fb {
	background-image: url(assets/img/social-icons/facebook.png);
}

.social__item--g {
	background-image: url(assets/img/social-icons/google.png);
}

.social__item--twitter {
	background-image: url(assets/img/social-icons/twitter.png);
}

.social__item-in {
	background-image: url(assets/img/social-icons/linkedin.png);
}