@import url("assets/fonts/font.css");

/* global */

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* grid */

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 40px;
}

/* elem */

.title {
  margin: 0;
  font-family: "Lato-Black";
  font-size: 30px;
  line-height: 1.2;
  color: #666d89;
}

.paragraph {
  margin: 0;
  font-family: "Lato-Light";
  font-size: 18px;
  line-height: 1.6;
  color: #767e9e;
}

/* --- blocks --- */

/* header */

.header {
	display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 32px;
  background-color: #2d303a;
  border-bottom: 5px solid #323746;
}

.header__nav {
  padding-top: 9px;
}

.header__logo {
  margin: 0;
}

/* logo */

.logo {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  font-family: "Lato-Bold";
  font-size: 25px;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .5s ease-in;
}

.logo:hover,
.logo:active {
  color: red;
}

.logo__star {
  position: absolute;
  top: 0;
  right: 0;
  color: #f06c64;
}

/* navigation */

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation__item a {
  position: relative;
  display: inline-block;
  margin-left: 13px;
  padding-right: 15px;
  font-family: "Lato-Bold";
  font-size: 12px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s ease;
}

.navigation__item--active a {
  color: #f06c64;
}

.navigation__item a::before {
  content: ".";
  position: absolute;
  right: 0;
  bottom: 3px;
  color: #494e62;
}

.navigation__item a:hover,
.navigation__item a:active {
  color: #f06c64;
}

.navigation__item:nth-last-child(1) a {
  padding-right: 0;
}

.navigation__item:nth-last-child(1) a::before {
  content: "";
}

/* slider */

.slider {
  position: relative;
  min-height: 595px;
  background-color: #f06c64;
  border-bottom: 5px solid #ea676b;
}

.slider__item {
  display: flex;
  align-items: center;
  padding-top: 53px;
  padding-left: 72px;
}

.slider__item-img--vertical {
  margin-right: 8.5%;
}
.slider__btn {
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 16px;
  height: 27px;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.slider__btn:hover,
.slider__btn:active {
  transform: scale(0.9);
}

.slider__btn--prev {
  left: 40px;
  top: 47%;
  background-image: url(assets/img/arrow-prev.png);
}

.slider__btn--next {
  right: 40px;
  top: 47%;
  background-image: url(assets/img/arrow-next.png);
}

/* services */

.services {
	padding-top: 60px;
  padding-bottom: 30px;
  background-color: #f2f2f2;
  border-bottom: 5px solid #ffffff;
}

.services__title {
  margin: 0;
  margin-bottom: 19px;
  font-family: "Lato-Black";
  font-size: 30px;
  line-height: 1.2;
  color: #666d89;
}

.services__desc {
  margin: 0;
  margin-bottom: 49px;
  font-family: "Lato-Light";
  font-size: 18px;
  line-height: 1.6;
  color: #767e9e;
}

/* services-list */

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-list__item {
  display: flex;
  width: 300px;
  margin-bottom: 10px;
}

.services-list__item:nth-child(3n) {
  margin-right: 0;
}

.services-list__icon {
  flex-shrink: 0;
  margin-right: 20px;
  width: 59px;
  height: 59px;
  background-repeat: no-repeat;
}

.services-list__desc h3 {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Lato-Black";
  font-size: 18px;
  line-height: 0.8;
  color: #666d89;
}

.services-list__desc p {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Lato";
  font-size: 12px;
  line-height: 1.9;
  text-align: justify;
  color: #666d89;
}

.services-list__icon--design {
  background-image: url(assets/img/icon-pen.png);
}

.services-list__icon--bulb {
  background-image: url(assets/img/icon-bulb.png);
}

.services-list__icon--heart {
  background-image: url(assets/img/icon-heart.png);
}

.services-list__icon--phone {
  background-image: url(assets/img/icon-phone.png);
}

.services-list__icon--bubble {
  background-image: url(assets/img/icon-bubble.png);
}

.services-list__icon--star {
  background-image: url(assets/img/icon-star.png);
}

/* portfolio */

.portfolio {
	padding-top: 65px;
	padding-bottom: 55px;
	background-color: #2d303a;
	border-bottom: 5px solid #323746;
}

.portfolio__title {
	margin-bottom: 19px;
}

.portfolio__desc {
	margin-bottom: 5px;
}

/* filter */

.filter {
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.filter__btn {
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 8px;
	font-family: 'Lato';
	font-size: 12px;
	line-height: 21px;
	color: #767e9e;
	border-radius: 5px;
	border: 1px solid #767e9e;
	background-color: transparent;
	cursor: pointer;
	transition: color .5s ease-in,
							border .5s ease-in;
}

.filter__btn--active {
	color: #dedede;
	border: 1px solid #dedede;
}

.filter__btn:hover,
.filter__btn:active {
	color: #dedede;
	border: 1px solid #dedede;
}

/* work-list */

.work-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-height: 606px;
	overflow: hidden;
}

.work-list__item {
	width: 220px;
	min-height: 187px;
	margin-bottom: 15px;
	background-color: #464b5e;
	overflow: hidden;
	cursor: pointer;
}

.work-list__item:hover img,
.work-list__item:active img {
	transform: scale(1.1);
}

.work-list__item img {
	display: block;
	transition: .5s ease-out;
}

/* about */

.about {
	padding-top: 65px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
	border-bottom: 5px solid #ffffff;
}

.about__title {
	margin-bottom: 19px;
}

.about__desc {
	margin-bottom: 40px;
}

/* command */

.command {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

/* person */

.person {
	width: 300px;
}

.person__img {
	min-height: 300px;
	background-color: #464b5e;
}

.person__title {
	margin: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Lato-Black';
	font-size: 18px;
	line-height: 1.2;
	color: #666d89;
	white-space: nowrap;
}

.person__desc {
	margin: 0;
	margin-bottom: 25px;
	font-family: 'Lato';
	font-size: 12px;
	line-height: 1.8;
	color: #767e9e;
}

/* social */

.social {
	display: flex;
}

.social__item {
	margin-right: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid #666d89;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform .3s ease-in-out;
}

.social__item:hover,
.social__item:active {
	transform: scale(0.9);
}

.social__item--fb {
	background-image: url(/assets/img/social-icons/facebook.png);
}

.social__item--g {
	background-image: url(/assets/img/social-icons/google.png);
}

.social__item--twitter {
	background-image: url(/assets/img/social-icons/twitter.png);
}

.social__item-in {
	background-image: url(/assets/img/social-icons/linkedin.png);
}
