@import url("assets/fonts/font.css");

/* global */

body {
	margin: 0;
	padding: 0;
	font-family: Lato, Helvetica, sans-serif;
}

img {
	width: 100%;
	max-height: 100%;
	height: auto;
	display: block;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* grid */

.container {
	max-width: 1020px;
	margin: 0 auto;
}

.wrapper {
	padding: 0 40px;
}

@media (max-width: 767px) {
	.wrapper {
		padding: 0 8%;
	}
}


/* elem */

.title {
	margin: 0;
	font-family: "Lato-Black";
	font-size: 30px;
	line-height: 1.2;
	color: #666d89;
}

.title--white {
    color: #f0d8d9;
}

.paragraph {
	margin: 0;
	font-family: "Lato-Light";
	font-size: 18px;
	line-height: 1.6;
	color: #767e9e;
}

.paragraph--white {
    color: #f0d8d9;
}

/* --- blocks --- */

/* header */

.header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	padding-top: 28px;
	padding-bottom: 31px;
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
	z-index: 1;
}

.header__nav {
	padding-top: 9px;
}

.header__logo {
	margin: 0;
	transition: .3s ease-in;
}

.header__btn {
	display: none;
}

.header__overlay {
	display: none;
}

@media (max-width: 767px) {
	.header {
		justify-content: center;
		padding-top: 24px;
		padding-bottom: 22px;
		border-bottom: none;
	}

	.header__btn {
		position: fixed;
		left: 5%;
		top: 26px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 25px;
		height: 20px;
		z-index: 10;
		cursor: pointer;
		transition: transform .3s ease-in;
	}

	.header__btn span {
		width: 25px;
		height: 2px;
		border-radius: 5px;
		background-color: #ffffff;
	}

	.header__overlay {
		position: fixed;
		display: block;
		right: 0;
		top: 0;
		width: 26%;
		height: 100%;
		background-color: rgba(45, 48, 58, .6);
		transform: translateX(100%);
		transition: transform .3s ease-in;
	}

	.header--mobile-menu .header__overlay {
		transform: translateX(0%);
	}

	.header--mobile-menu .header__btn {
		transform: rotate(90deg);
	}

	.header--mobile-menu.header {
		padding-top: 34px;
		padding-bottom: 28px;
	}

	.header--mobile-menu .header__logo {
		position: fixed;
		left: 19%;
		top: 24px;
		z-index: 10;
		animation: transformLogo .5s ease-in-out;
	}

	
}

/* logo */

.logo {
	position: relative;
	display: inline-block;
	margin: 0;
	padding-right: 10px;
	font-family: "Lato-Bold";
	font-size: 25px;
	color: #ffffff;
	line-height: 1.2;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	text-decoration: none;
	transition: color .5s ease-in;
}

.logo__star {
	position: absolute;
	top: 0;
	right: 0;
	color: #f06c64;
}

@media (max-width: 767px) {
	.logo {
		font-size: 19.8px;
		line-height: 24px;
	}
}

/* navigation */

.navigation__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation__item a {
	position: relative;
	display: inline-block;
	margin-left: 13px;
	padding-right: 15px;
	font-family: "Lato-Bold";
	font-size: 12px;
	line-height: 1.2;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.5s ease;
}

.navigation__item--active a {
	color: #f06c64;
}

.navigation__item a::before {
	content: ".";
	position: absolute;
	right: 0;
	bottom: 3px;
	color: #494e62;
}

.navigation__item a:hover,
.navigation__item a:active {
	color: #f06c64;
}

.navigation__item:nth-last-child(1) a {
	padding-right: 0;
}

.navigation__item:nth-last-child(1) a::before {
	content: "";
}

@media (max-width: 767px) {
	.navigation {
		position: fixed;
		left: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 74%;
		background-color: #2d303a;
		box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
		transform: translateX(-100%);
		transition: transform .3s ease-in;
	}

	.navigation__list {
		flex-direction: column;
	}

	.navigation__item a {
		margin-bottom: 30px;
		font-size: 24px;
		line-height: 29px;
	}

	.navigation__item a::before {
		content: "";
	}

	.header--mobile-menu .navigation {
		transform: translateX(-0%);
	}
}

/* slider */

.slider {
	position: relative;
	width: 100%;
	min-height: 600px;
	overflow: hidden;
}

.slider__item {
	position: relative;
	display: none;
	height: 100%;
	animation: 1s ease-in-out;
	margin: 0 auto;
}

.slider__item--active,
.slider__item--next {
	display: block;
}

.slider__item--next {
	position: absolute;
	top: 0;
	width: 100%;
}

.slider-item1 {
	display: flex;
	align-items: center;
	padding-top: 54px;
	padding-bottom: 57px;
	padding-left: 112px;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}

.slider__btn {
	position: absolute;
	padding: 0;
	border: none;
	background-color: transparent;
	width: 16px;
	height: 27px;
	cursor: pointer;
	transition: transform 0.3s ease-in;
}

.slider__btn:hover,
.slider__btn:active {
	transform: scale(0.9);
}

.slider__btn--prev {
	left: 40px;
	top: 47%;
	background-image: url(assets/img/arrow-prev.png);
}

.slider__btn--next {
	right: 40px;
	top: 47%;
	background-image: url(assets/img/arrow-next.png);
}

@media (min-width: 768px) and (max-width: 1019px) {
	.slider {
		min-height: auto;
	}
	
	.slider-item1 {
		padding: 37px 11% 40px 11%;
	}

	.slider__item2 {
		
	}

	.slider__btn--prev {
		left: 30px;
	}

	.slider__btn--next {
		right: 30px;
	}
}

@media (max-width: 767px) {
	.slider {
		min-height: auto;
	}

	.slider-item1 {
		padding: 20px 10.7%;
	}

	.slider__btn--prev {
		left: 2.5%;
	}

	.slider__btn--next {
		right: 2.5%;
	}

	.slider-item1 {
		border-bottom: none;
	}
}

/* phone */

.phone {
	position: relative;
}

.phone--vertical {
	margin-right: 8%;
}

.phone__bg {
	position: absolute;
	top: 0;
	left: 0;
	transition: .4s ease-in-out;
}

.phone__bg--vertical {
	width: 80.2%;
	top: 13%;
	left: 5%;
}

.phone__bg--horizontal {
	width: 70%;
	top: 4.9%;
	left: 12%;
}

.phone__btn {
	position: absolute;
	width: 30%;
	cursor: pointer;
	transition: .3s ease-in;
}
.phone__btn:hover,
.phone__btn:active {
	transform: scale(0.95);
}

.phone__btn--vertical {
	width: 18%;
	bottom: 7%;
	left: 36%;
}

.phone__btn--horizontal {
	width: 8.9%;
	left: 2%;
	top: 35%;
}

.phone__bg--opacity {
	opacity: 0;
}

/* services */

.services {
	padding-top: 59px;
	padding-bottom: 28px;
	background-color: #f2f2f2;
	border-bottom: 6px solid #ffffff;
}

.services__title {
	margin: 0;
	margin-bottom: 19px;
	font-family: "Lato-Black";
	font-size: 30px;
	line-height: 1.25;
	color: #666d89;
}

.services__desc {
	margin: 0;
	margin-bottom: 49px;
	font-family: "Lato-Light";
	font-size: 18px;
	line-height: 1.6;
	color: #767e9e;
}

@media (min-width: 768px) and (max-width: 1019px) {
	.services {
		padding-top: 40px;
		padding-bottom: 21px;
		border-bottom: none;
	}

	.services__desc {
		margin-bottom: 42px;
	}
}

@media (max-width: 767px) {
	.services {
		padding-top: 26px;
		padding-bottom: 0px;
	}

	.services__title {
		margin-bottom: 17px;
	}

	.services__desc {
		margin-bottom: 30px;
		line-height: 1.7;
		letter-spacing: 0.4px;
	}
}

/* services-list */

.services-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.services-list__item {
	display: flex;
	width: 300px;
	margin-bottom: 12px;
}

.services-list__icon {
	flex-shrink: 0;
	margin-right: 21px;
	width: 59px;
	height: 59px;
	background-repeat: no-repeat;
}

.services-list__desc h3 {
	margin: 0;
	margin-bottom: 12px;
	font-family: "Lato-Black";
	font-size: 18px;
	line-height: 0.8;
	color: #666d89;
}

.services-list__desc p {
	max-height: 65px;
	margin: 0;
	margin-bottom: 20px;
	font-family: "Lato";
	font-size: 12px;
	line-height: 1.9;
	text-align: justify;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #666d89;
}

.services-list__icon--design {
	background-image: url(assets/img/icon-pen.png);
}

.services-list__icon--bulb {
	background-image: url(assets/img/icon-bulb.png);
}

.services-list__icon--heart {
	background-image: url(assets/img/icon-heart.png);
}

.services-list__icon--phone {
	background-image: url(assets/img/icon-phone.png);
}

.services-list__icon--bubble {
	background-image: url(assets/img/icon-bubble.png);
}

.services-list__icon--star {
	background-image: url(assets/img/icon-star.png);
}

@media (min-width: 768px) and (max-width: 1019px) {
	.services-list__item {
		width: 48.5%;
		margin-bottom: 33px;
	}
}

@media (max-width: 767px) {
	.services-list__item {
		width: 100%;
		margin-bottom: 28px;
	}

	.services-list__desc p {
		margin-bottom: 0px;
	}
}

/* portfolio */

.portfolio {
	padding-top: 60px;
	padding-bottom: 46px;
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
}

.portfolio__title {
	margin-bottom: 19px;
}

.portfolio__desc {
	margin-bottom: 5px;
}

@media (max-width: 767px) {
	.portfolio {
		padding-bottom: 28px !important;
		padding-top: 41px;
		border-bottom: none;
	}

	.portfolio__desc  {
		line-height: 1.68;
	}
}

@media (min-width: 768px) and (max-width: 1019px) {
	.portfolio {
		padding-bottom: 48px;
	}

	.portfolio__desc {
		letter-spacing: 0.5px;
		margin-bottom: 8px;
	}
	
}

/* filter */

.filter {
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.filter__btn {
	padding-left: 7px;
	padding-right: 6px;
	margin-right: 5px;
	font-family: 'Lato-Bold';
	font-size: 12px;
	line-height: 18px;
	color: #767e9e;
	border-radius: 5px;
	border: 1px solid #767e9e;
	background-color: transparent;
	cursor: pointer;
	transition: color .3s ease-in,
				border .5s ease-in;
}

.filter__btn--active {
	color: #dedede;
	border: 1px solid #dedede;
}

.filter__btn:hover,
.filter__btn:active {
	color: #dedede;
	border: 1px solid #dedede;
}

@media (min-width: 768px) and (max-width: 1019px) {
	.filter {
		margin-bottom: 17px;
	}
}

/* work-list */

.work-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work-list__item {
	width: 220px;
	min-height: 187px;
	margin-bottom: 20px;
	background-color: #464b5e;
	overflow: hidden;
	cursor: pointer;
	transition: outline .2s ease-in-out;
}

.work-list__item--active {
	outline: 5px solid #F06C64;
}

.work-list__item:nth-child(n+13) {
	display: none;
}

.work-list__item:hover img,
.work-list__item:active img {
	transform: scale(1.1);
}

.work-list__item img {
	display: block;
	transition: .5s ease-out;
}

@media (min-width: 768px) and (max-width: 1019px) {
	.work-list__item {
		width: 31.4%;
		min-height: auto;
	}
}

@media (max-width: 767px) {
	.work-list__item {
		width: 48%;
		margin-bottom: 13px;
	}

	.work-list__item:nth-child(n+9) {
		display: none;
	}
}

/* about */

.about {
	padding-top: 58px;
	padding-bottom: 65px;
	background-color: #f2f2f2;
	border-bottom: 6px solid #ffffff;
}

.about__title {
	margin-bottom: 19px;
}

.about__desc {
	margin-bottom: 45px;
	line-height: 1.7;
}

@media  only screen and (max-width: 767px) {
	main .about {
		padding-top: 33px;
		padding-bottom: 12px;
	}	

	main .about__desc {
		letter-spacing: 0.4px;
		margin-bottom: 23px;
	}
	
}

@media (min-width: 768px) and (max-width: 1019px) {
	.about {
		padding-top: 53px;
		padding-bottom: 75px;
		border-bottom: none;
	}

	.about__desc {
		margin-bottom: 36px;
	}
}

/* command */

.command {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
}

/* person */

.person {
	width: 300px;
}

.person__img {
	width: 100%;
	min-height: 300px;
	background-color: #464b5e;
}

.person__title {
	margin: 0;
	margin-top: 15px;
	margin-bottom: 9px;
	font-family: 'Lato-Black';
	font-size: 18px;
	line-height: 1.2;
	color: #666d89;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.person__desc {
	margin: 0;
	margin-bottom: 25px;
	font-family: 'Lato';
	font-size: 12px;
	line-height: 1.8;
	color: #767e9e;
}

@media (min-width: 768px) and (max-width: 1019px) {
	.person {
		width: 32%;
	}
	
	.person__img {
		min-height: auto;
	}

	.person__title {
		margin-top: 10px;
		margin-bottom: 0px;
	}

	.person__desc {
		margin-bottom: 14px;
	}
}

@media (max-width: 767px) {
	.person {
		width: 100%;
		margin-bottom: 33px;
	}

	.person .person__title {
		margin-top: 17px;
	}
}

/* social */

.social {
	display: flex;
}

.social__item {
	margin-right: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid #666d89;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform .3s ease-in-out;
}

.social__item:nth-last-of-type(1) {
    margin-right: 0;
}

.social__item:hover,
.social__item:active {
	transform: scale(0.9);
}

.social__item--fb {
	background-image: url(assets/img/social-icons/facebook.png);
}

.social__item--g {
	background-image: url(assets/img/social-icons/google.png);
}

.social__item--twitter {
	background-image: url(assets/img/social-icons/twitter.png);
}

.social__item-in {
	background-image: url(assets/img/social-icons/linkedin.png);
}

/* contacts */

.contacts {
    background-color: #f06c64;
    padding-top: 59px;
    padding-bottom: 8px;
    border-bottom: 6px solid #ea676b;
}

.contacts__title {
    margin-bottom: 18px;
}

.contacts__desc {
    margin-bottom: 44px;
    line-height: 1.7;
}

.contacts__wrapper {
    display: flex;
}

@media (min-width: 768px) and (max-width: 1019px) {
	.contacts {
		padding-top: 53px;
		padding-bottom: 38px;
	}
	
	.contacts__desc {
		margin-bottom: 25px;
	}
}

@media (max-width: 767px) {
	main .contacts {
		padding-top: 44px;
	}

	.contacts__wrapper {
		flex-direction: column;
	}

	.contacts .contacts__desc {
		letter-spacing: 0.4px;
		margin-bottom: 23px;
		border-bottom: none;
	}
}

/* form */

.form {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.form__input {
	padding: 12px 15px;
    margin-bottom: 16px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

.form__input::placeholder {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

.form__textarea {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 11px;
	padding-bottom: 10px;
	margin-bottom: 20px;
    resize: none;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

.form__textarea::placeholder {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

.form__btn 	{
	padding: 10px 0;
	border: none;
	border-radius: 5px;
	background-color: #d6564f;
	font-family: 'Lato';
    font-size: 16px;
    line-height: 1.2;
	color: #f48c8f;
	cursor: pointer;
	transition: background-color .3s ease-in;
}

.form__btn:hover,
.form__btn:active {
	background-color: #a7403a;
}

@media (min-width: 768px) and (max-width: 1019px) {
	.form {
		width: 64%;
	}

	.form__input {
		margin-bottom: 12px;
	}

	.form__textarea {
		height: 139px;
		margin-bottom: 16px;
	}
}

@media (max-width: 767px) {
	.form {
		width: 100%;
		margin-bottom: 30px;
	}

	form .form__textarea {
		margin-bottom: 12px;
	}

	.form__btn {
		padding: 15px 0;
	}
}

/* info */

.info {
    padding-left: 20px;
    width: 32%;
}

.info__title {
    margin: 0;
    margin-bottom: 7px;
    font-family: 'Lato-Black';
    font-size: 18px;
    line-height: 1.2;
    color: #f0d8d9;
}

.info__desc {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.85;
	color: #f0d8d9;
	text-align: justify;
}   

@media (min-width: 768px) and (max-width: 1019px) {
	.info {
		padding-left: 29px;
	}

	.info__title {
		margin-bottom: 0;
	}

	.info__desc {
		margin-bottom: 15px;
	}
}

@media (max-width: 767px) {
	.info {
		width: 100%;
		padding-left: 0;
	}
}

/* contact-list */

.contact-list__item {
    padding-left: 24px;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: left center;
}

.contact-list__item,
.contact-list__item a {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f0d8d9;
    text-decoration: none;
}

.contact-list__item a:hover,
.contact-list__item a:active {
    text-decoration: underline;
}

.contact-list__item--city {
    background-image: url(assets/img/contact-icons/location.png);
    background-position: 4px center;
}

.contact-list__item--phone {
    background-image: url(assets/img/contact-icons/phone.png);
    background-position: 2px center;
}

.contact-list__item--mail {
    background-image: url(assets/img/contact-icons/mail.png);
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    padding-top: 23px;
    padding-bottom: 22px;
}

.footer__copyright {
	padding-bottom: 4px;
	padding-left: 2px;
    font-size: 12px;
    color: #666d89;
}

@media (max-width: 767px) {
	.footer {
		justify-content: center;
	}

	.footer__copyright {
		display: none;
	}
}

/* popup */

.popup {
	display: none;
}

.popup__overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .5);
	z-index: 5;
}

.popup__window {
	width: 30%;
	padding: 40px 30px;
	background-color: #F06C64;
	color: #ffffff;
	border-radius: 5px;
}

.popup__title {
	margin: 0;
	margin-bottom: 40px;
	font-size: 40px;
	text-align: center;
}

.popup__theme,
.popup__desc {
	max-height: 60px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 500;
	overflow-y: scroll;
}

.popup__desc {
	margin-bottom: 30px;
}

.popup__btn {
	width: 100%;
	padding: 10px 0;
	border: none;
	border-radius: 5px;
	background-color: #d6564f;
	font-family: 'Lato';
    font-size: 20px;
    line-height: 1.2;
	color: #f1cccd;
	cursor: pointer;
	transition: background-color .3s ease-in;
}

.popup__btn:hover,
.popup__btn:active {
	background-color: #a7403a;
}

@media (min-width: 768px) and (max-width: 1019px) {
	.popup__window {
		width: 80%;
	}
}

/* animation for slider */

.to-left {
	animation-name: left;
}

.from-right {
	animation-name: right;
}

.to-right {
	animation-name: right;
	animation-direction: reverse;
}

.from-left {
	animation-name: left;
	animation-direction: reverse;
}



@keyframes left {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}

@keyframes right {
	from {
		left: 100%;
	}
	to {
		left: 0;
	}
}

/* animation logo */

@keyframes transformLogo {
	from {
		transform: translateX(-500px);
	} 
	to {
		transform: translateX(0)
	}
}