@import url("assets/fonts/font.css");

/* global */

body {
	margin: 0;
	padding: 0;
	font-family: Lato, Helvetica, sans-serif;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* grid */

.container {
	max-width: 1020px;
	margin: 0 auto;
}

.wrapper {
	padding: 0 40px;
}

/* elem */

.title {
	margin: 0;
	font-family: "Lato-Black";
	font-size: 30px;
	line-height: 1.2;
	color: #666d89;
}

.title--white {
    color: #f0d8d9;
}

.paragraph {
	margin: 0;
	font-family: "Lato-Light";
	font-size: 18px;
	line-height: 1.6;
	color: #767e9e;
}

.paragraph--white {
    color: #f0d8d9;
}

/* --- blocks --- */

/* header */

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 28px;
	padding-bottom: 31px;
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
}

.header__nav {
	padding-top: 9px;
}

.header__logo {
	margin: 0;
}

/* logo */

.logo {
	position: relative;
	display: inline-block;
	margin: 0;
	padding-right: 10px;
	font-family: "Lato-Bold";
	font-size: 25px;
	color: #ffffff;
	line-height: 1.2;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	text-decoration: none;
	transition: color .5s ease-in;
}

.logo__star {
	position: absolute;
	top: 0;
	right: 0;
	color: #f06c64;
}

/* navigation */

.navigation__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation__item a {
	position: relative;
	display: inline-block;
	margin-left: 13px;
	padding-right: 15px;
	font-family: "Lato-Bold";
	font-size: 12px;
	line-height: 1.2;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.5s ease;
}

.navigation__item--active a {
	color: #f06c64;
}

.navigation__item a::before {
	content: ".";
	position: absolute;
	right: 0;
	bottom: 3px;
	color: #494e62;
}

.navigation__item a:hover,
.navigation__item a:active {
	color: #f06c64;
}

.navigation__item:nth-last-child(1) a {
	padding-right: 0;
}

.navigation__item:nth-last-child(1) a::before {
	content: "";
}

/* slider */

.slider {
	position: relative;
	min-height: 594px;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}

.slider__item {
	display: flex;
	align-items: center;
	padding-top: 53px;
	padding-left: 72px;
}

.slider__item-img--vertical {
	margin-right: 8.5%;
}
.slider__btn {
	position: absolute;
	padding: 0;
	border: none;
	background-color: transparent;
	width: 16px;
	height: 27px;
	cursor: pointer;
	transition: transform 0.3s ease-in;
}

.slider__btn:hover,
.slider__btn:active {
	transform: scale(0.9);
}

.slider__btn--prev {
	left: 40px;
	top: 47%;
	background-image: url(assets/img/arrow-prev.png);
}

.slider__btn--next {
	right: 40px;
	top: 47%;
	background-image: url(assets/img/arrow-next.png);
}

/* services */

.services {
	padding-top: 59px;
	padding-bottom: 28px;
	background-color: #f2f2f2;
	border-bottom: 6px solid #ffffff;
}

.services__title {
	margin: 0;
	margin-bottom: 19px;
	font-family: "Lato-Black";
	font-size: 30px;
	line-height: 1.25;
	color: #666d89;
}

.services__desc {
	margin: 0;
	margin-bottom: 49px;
	font-family: "Lato-Light";
	font-size: 18px;
	line-height: 1.6;
	color: #767e9e;
}

/* services-list */

.services-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.services-list__item {
	display: flex;
	width: 300px;
	margin-bottom: 12px;
}

.services-list__icon {
	flex-shrink: 0;
	margin-right: 21px;
	width: 59px;
	height: 59px;
	background-repeat: no-repeat;
}

.services-list__desc h3 {
	margin: 0;
	margin-bottom: 12px;
	font-family: "Lato-Black";
	font-size: 18px;
	line-height: 0.8;
	color: #666d89;
}

.services-list__desc p {
	max-height: 65px;
	margin: 0;
	margin-bottom: 20px;
	font-family: "Lato";
	font-size: 12px;
	line-height: 1.9;
	text-align: justify;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #666d89;
}

.services-list__icon--design {
	background-image: url(assets/img/icon-pen.png);
}

.services-list__icon--bulb {
	background-image: url(assets/img/icon-bulb.png);
}

.services-list__icon--heart {
	background-image: url(assets/img/icon-heart.png);
}

.services-list__icon--phone {
	background-image: url(assets/img/icon-phone.png);
}

.services-list__icon--bubble {
	background-image: url(assets/img/icon-bubble.png);
}

.services-list__icon--star {
	background-image: url(assets/img/icon-star.png);
}

/* portfolio */

.portfolio {
	padding-top: 60px;
	padding-bottom: 46px;
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
}

.portfolio__title {
	margin-bottom: 19px;
}

.portfolio__desc {
	margin-bottom: 5px;
}

/* filter */

.filter {
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.filter__btn {
	padding-left: 7px;
	padding-right: 6px;
	margin-right: 5px;
	font-family: 'Lato-Bold';
	font-size: 12px;
	line-height: 18px;
	color: #767e9e;
	border-radius: 5px;
	border: 1px solid #767e9e;
	background-color: transparent;
	cursor: pointer;
	transition: color .5s ease-in,
							border .5s ease-in;
}

.filter__btn--active {
	color: #dedede;
	border: 1px solid #dedede;
}

.filter__btn:hover,
.filter__btn:active {
	color: #dedede;
	border: 1px solid #dedede;
}

/* work-list */

.work-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work-list__item {
	width: 220px;
	min-height: 187px;
	margin-bottom: 20px;
	background-color: #464b5e;
	overflow: hidden;
	cursor: pointer;
}

.work-list__item:nth-child(n+13) {
	display: none;
}

.work-list__item:hover img,
.work-list__item:active img {
	transform: scale(1.1);
}

.work-list__item img {
	display: block;
	transition: .5s ease-out;
}

/* about */

.about {
	padding-top: 58px;
	padding-bottom: 65px;
	background-color: #f2f2f2;
	border-bottom: 6px solid #ffffff;
}

.about__title {
	margin-bottom: 19px;
}

.about__desc {
	margin-bottom: 45px;
	line-height: 1.7;
}

/* command */

.command {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
}

/* person */

.person {
	width: 300px;
}

.person__img {
	min-height: 300px;
	background-color: #464b5e;
}

.person__title {
	margin: 0;
	margin-top: 15px;
	margin-bottom: 9px;
	font-family: 'Lato-Black';
	font-size: 18px;
	line-height: 1.2;
	color: #666d89;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.person__desc {
	margin: 0;
	margin-bottom: 25px;
	font-family: 'Lato';
	font-size: 12px;
	line-height: 1.8;
	color: #767e9e;
}

/* social */

.social {
	display: flex;
}

.social__item {
	margin-right: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid #666d89;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform .3s ease-in-out;
}

.social__item:nth-last-of-type(1) {
    margin-right: 0;
}

.social__item:hover,
.social__item:active {
	transform: scale(0.9);
}

.social__item--fb {
	background-image: url(assets/img/social-icons/facebook.png);
}

.social__item--g {
	background-image: url(assets/img/social-icons/google.png);
}

.social__item--twitter {
	background-image: url(assets/img/social-icons/twitter.png);
}

.social__item-in {
	background-image: url(assets/img/social-icons/linkedin.png);
}

/* contacts */

.contacts {
    background-color: #f06c64;
    padding-top: 59px;
    padding-bottom: 8px;
    border-bottom: 6px solid #ea676b;
}

.contacts__title {
    margin-bottom: 18px;
}

.contacts__desc {
    margin-bottom: 44px;
    line-height: 1.7;
}

.contacts__wrapper {
    display: flex;
}

/* form */

.form {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.form__input {
	padding: 12px 15px;
    margin-bottom: 16px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

.form__input::placeholder {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

.form__textarea {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 11px;
	padding-bottom: 10px;
	margin-bottom: 20px;
    resize: none;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

.form__textarea::placeholder {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f48c8f;
}

.form__btn 	{
	padding: 10px 0;
	border: none;
	border-radius: 5px;
	background-color: #d6564f;
	font-family: 'Lato';
    font-size: 16px;
    line-height: 1.2;
	color: #f48c8f;
	cursor: pointer;
	transition: background-color .3s ease-in;
}

.form__btn:hover,
.form__btn:active {
	background-color: #a7403a;
}

/* info */

.info {
    padding-left: 20px;
    width: 32%;
}

.info__title {
    margin: 0;
    margin-bottom: 7px;
    font-family: 'Lato-Black';
    font-size: 18px;
    line-height: 1.2;
    color: #f0d8d9;
}

.info__desc {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.85;
	color: #f0d8d9;
	text-align: justify;
}   

/* contact-list */

.contact-list__item {
    padding-left: 24px;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: left center;
}

.contact-list__item,
.contact-list__item a {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: #f0d8d9;
    text-decoration: none;
}

.contact-list__item a:hover,
.contact-list__item a:active {
    text-decoration: underline;
}

.contact-list__item--city {
    background-image: url(assets/img/contact-icons/location.png);
    background-position: 4px center;
}

.contact-list__item--phone {
    background-image: url(assets/img/contact-icons/phone.png);
    background-position: 2px center;
}

.contact-list__item--mail {
    background-image: url(assets/img/contact-icons/mail.png);
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    padding-top: 23px;
    padding-bottom: 22px;
}

.footer__copyright {
	padding-bottom: 4px;
	padding-left: 2px;
    font-size: 12px;
    color: #666d89;
}
